body{
  margin: 0;
}

header {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

main{
  padding: 30px 0;
  border-bottom: 1px solid #000;
}

footer{
  padding: 30px 0;
}

a {
  text-decoration: none;
  color: black;
}

nav a{
  display: inline-block;
  margin: 0 20px;
}


.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.list-item {
  display: block;
  text-decoration: none;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  transition: all .2s ease;
}
.list-item:hover{
  transform: scale(1.01);
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  color: #000;
}

.list-item p {
  color: grey;
  margin: 5px 0px;
}

.p-20 {
  padding: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

textarea{
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}